{{>layout/header}}
<h1>HOME</h1>
<div class="col-md-12">
    <!-- 로그인 기능 영역  참고!!! {.{#userName}.} 에서 . 은 지우고 사용해야 합니다. -->
    <div calss="row">


            <a>HOME TUNA</a>

        </div>
    </div>
</div>
<br>


{{>layout/footer}}