{{>layout/header}}
<h1>YAPP TUNA WEB SERVICE!</h1>
<div class="col-md-12">
    <!-- 로그인 기능 영역  참고!!! {.{#userName}.} 에서 . 은 지우고 사용해야 합니다. -->
    <div calss="row">


            <a href="/oauth2/authorization/google" class="btn btn-success danger" role="button">Google</a> <!-- (4) -->

        </div>
    </div>
</div>
<br>


{{>layout/footer}}