{{>layout/header}}
<h1>YAPP TUNA WEB SERVICE!</h1>
    <div class="col-md-12">
        <!-- 로그인 기능 영역  참고!!! {.{#userName}.} 에서 . 은 지우고 사용해야 합니다. -->
            Login Succese!
    </div>
</div>
<br>
{{>layout/footer}}